# Control de bases de datos con Python
* **SQL** Structured Query Language

    1) Abrir/Crear conexión
    2) Crear puntero
    3) Ejecutar query SQL
    4) Operar con los resultados de la query\
        4.1) **CRUDE** Create, Read, Update, Delete

In [2]:
import sqlite3 # libreria de python SQLite

In [4]:
# crear conexion
conn = sqlite3.connect('base_datos_maxi')
# cear cursor/puntero
cursor = conn.cursor()
# crear la primera tabla, siguiendo lenguage SQL
cursor.execute('CREATE TABLE PRODUCTOS (NOMBRE_ARTICULO VARCHAR(50), PRECIO INTEGER, SECCION VARCHAR(20))')
conn.close()
# cerrar la conexion

## Ejemplos de CRUDE

In [6]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

# ejecutamos las modificaciones
cursor.execute('INSERT INTO PRODUCTOS VALUES ("BALON", 15, "DEPORTES")')
# commit the changes
conn.commit()

conn.close()

### Insertar varios registros a la vez
* cursor.executemany('INSERT INTO \<table name\> VALUES (?, ?, ...)', values_list):

    Tantos interrogantes, ?, como entradas tengan los datos que queremos introducir

In [7]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

# NOMBRE --- PRECIO --- SECCION
registros = [("CAMISETA", 10, "DEPORTES"), 
             ("CAMION", 20, "JUGUETERIA"), 
             ("ZAPATILLAS", 80, "CALZADO")]
cursor.executemany('INSERT INTO PRODUCTOS VALUES (?, ?, ?)', registros)
# commit the changes
conn.commit()
conn.close()

### Acceder a la informacion de la Base de Datos
Instruccion SQL de tipo SELECT (* para recuperar todos los productos de la lista)
* cursor.execute('SELECT * FROM \<table name\>')
* cursor.fetchall(): Devuelve la query anterior en forma de lista

In [9]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

cursor.execute('SELECT * FROM PRODUCTOS')

registros = cursor.fetchall()
# commit the changes
conn.commit()
conn.close()

In [37]:
import numpy as np
# ejemplo simple de como tratar los datos, aunque seria recomendable usar PANDAS dataframes
registros_array = np.concatenate(np.array(registros)).reshape(len(registros), len(registros[0])) # reshape nrows, ncols
nombres = registros_array[:, 0]
nombres

array(['BALON', 'CAMISETA', 'CAMION', 'ZAPATILLAS'], dtype='<U11')

## Claves principales de cada registro: PRIMARY KEYS

In [38]:
# crear conexion
conn = sqlite3.connect('base_datos_primary_key')
# cear cursor/puntero
cursor = conn.cursor()
# crear tabla
cursor.execute('''
CREATE TABLE PRODUCTOS (
CODIGO_ARTICULO VARCHAR(4) PRIMARY KEY,
NOMBRE_ARTICULO VARCHAR(50), 
PRECIO INTEGER, 
SECCION VARCHAR(20)
)''')

registros = [("AR01", "CAMISETA", 10, "DEPORTES"), 
             ("AR02", "CAMION", 20, "JUGUETERIA"), 
             ("AR03", "ZAPATILLAS", 80, "CALZADO")]
conn.executemany('INSERT INTO PRODUCTOS VALUES (?, ?, ?, ?)', registros)

conn.commit()
conn.close()

**UNIQUE** Error al intentar añadir un objeto con una clave que ya habia sido usada

In [39]:
# crear conexion
conn = sqlite3.connect('base_datos_primary_key')
# cear cursor/puntero
cursor = conn.cursor()

conn.execute('INSERT INTO PRODUCTOS VALUES ("AR01", "CALCETINES", 5, "ROPA")')

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: PRODUCTOS.CODIGO_ARTICULO

### Automatizacion de las claves: 
Una manera de asegurar que no haya errores como el que acabamos de ver es automatizar el proceso de creacion de IDs
* ID INTEGER PRIMARY KEY AUTOINCREMENT,
* conn.executemany('INSERT INTO PRODUCTOS VALUES (NULL, ?, ?, ?)', registros): Es necesario añadir NULL al campo donde debería ir el ID

In [41]:
# crear conexion
conn = sqlite3.connect('base_datos_primary_key')
# cear cursor/puntero
cursor = conn.cursor()
# crear tabla
cursor.execute('''
    CREATE TABLE PRODUCTOS (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NOMBRE_ARTICULO VARCHAR(50), 
    PRECIO INTEGER, 
    SECCION VARCHAR(20)
)''')

registros = [("CAMISETA", 10, "DEPORTES"), 
             ("CAMION", 20, "JUGUETERIA"), 
             ("ZAPATILLAS", 80, "CALZADO")]
conn.executemany('INSERT INTO PRODUCTOS VALUES (NULL, ?, ?, ?)', registros)

conn.commit()
conn.close()