# Control de bases de datos con Python
* **SQL** Structured Query Language

    1) Abrir/Crear conexión
    2) Crear puntero
    3) Ejecutar query SQL
    4) Operar con los resultados de la query\
        4.1) **CRUDE** Create, Read, Update, Delete

In [16]:
import sqlite3 # libreria de python SQLite
from IPython.display import Image

In [12]:
# crear conexion
conn = sqlite3.connect('base_datos_maxi')
# cear cursor/puntero
cursor = conn.cursor()
# crear la primera tabla, siguiendo lenguage SQL
cursor.execute('CREATE TABLE PRODUCTOS (NOMBRE_ARTICULO VARCHAR(50), PRECIO INTEGER, SECCION VARCHAR(20))')
conn.close()
# cerrar la conexion

## Ejemplos de CRUDE

In [13]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

# ejecutamos las modificaciones
cursor.execute('INSERT INTO PRODUCTOS VALUES ("BALON", 15, "DEPORTES")')
# commit the changes
conn.commit()

conn.close()

### Insertar varios registros a la vez
* cursor.executemany('INSERT INTO \<table name\> VALUES (?, ?, ...)', values_list):

    Tantos interrogantes, ?, como entradas tengan los datos que queremos introducir

In [14]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

# NOMBRE --- PRECIO --- SECCION
registros = [("CAMISETA", 10, "DEPORTES"), 
             ("CAMION", 20, "JUGUETERIA"), 
             ("ZAPATILLAS", 80, "CALZADO")]
cursor.executemany('INSERT INTO PRODUCTOS VALUES (?, ?, ?)', registros)
# commit the changes
conn.commit()
conn.close()

In [19]:
Image(url = 'Images/bbdd_maxi_01.png', width = 400, height = 200)

### Acceder a la informacion de la Base de Datos
Instruccion SQL de tipo SELECT (* para recuperar todos los productos de la lista)
* cursor.execute('SELECT * FROM \<table name\>')
* cursor.fetchall(): Devuelve la query anterior en forma de lista

In [7]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

cursor.execute('SELECT * FROM PRODUCTOS WHERE SECCION = "DEPORTES"')

registros = cursor.fetchall()
# commit the changes
conn.commit()
conn.close()

In [8]:
registros

[('BALON', 15, 'DEPORTES'), ('CAMISETA', 10, 'DEPORTES')]

In [9]:
import numpy as np
# ejemplo simple de como tratar los datos, aunque seria recomendable usar PANDAS dataframes
registros_array = np.concatenate(np.array(registros)).reshape(len(registros), len(registros[0])) # reshape nrows, ncols
nombres = registros_array[:, 0]
nombres

array(['BALON', 'CAMISETA'], dtype='<U11')

### Update: 
Ejemplo, aumentar un 5% a los precios de una serie de productos

In [20]:
conn = sqlite3.connect('base_datos_maxi')
cursor = conn.cursor()

cursor.execute('UPDATE PRODUCTOS SET PRECIO = PRECIO * 1.05 WHERE SECCION = "DEPORTES"')

registros = cursor.fetchall()
# commit the changes
conn.commit()
conn.close()

In [21]:
Image(url = 'Images/bbdd_maxi_02.png', width = 400, height = 200)

## Claves principales de cada registro: PRIMARY KEYS

In [38]:
# crear conexion
conn = sqlite3.connect('base_datos_primary_key')
# cear cursor/puntero
cursor = conn.cursor()
# crear tabla
cursor.execute('''
CREATE TABLE PRODUCTOS (
CODIGO_ARTICULO VARCHAR(4) PRIMARY KEY,
NOMBRE_ARTICULO VARCHAR(50), 
PRECIO INTEGER, 
SECCION VARCHAR(20)
)''')

registros = [("AR01", "CAMISETA", 10, "DEPORTES"), 
             ("AR02", "CAMION", 20, "JUGUETERIA"), 
             ("AR03", "ZAPATILLAS", 80, "CALZADO")]
conn.executemany('INSERT INTO PRODUCTOS VALUES (?, ?, ?, ?)', registros)

conn.commit()
conn.close()

**UNIQUE** Error al intentar añadir un objeto con una clave que ya habia sido usada

In [39]:
# crear conexion
conn = sqlite3.connect('base_datos_primary_key')
# cear cursor/puntero
cursor = conn.cursor()

conn.execute('INSERT INTO PRODUCTOS VALUES ("AR01", "CALCETINES", 5, "ROPA")')

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: PRODUCTOS.CODIGO_ARTICULO

### Automatizacion de las claves: 
Una manera de asegurar que no haya errores como el que acabamos de ver es automatizar el proceso de creacion de IDs
* ID INTEGER PRIMARY KEY AUTOINCREMENT,
* conn.executemany('INSERT INTO PRODUCTOS VALUES (NULL, ?, ?, ?)', registros): Es necesario añadir NULL al campo donde debería ir el ID

In [41]:
# crear conexion
conn = sqlite3.connect('base_datos_primary_key')
# cear cursor/puntero
cursor = conn.cursor()
# crear tabla
cursor.execute('''
    CREATE TABLE PRODUCTOS (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NOMBRE_ARTICULO VARCHAR(50), 
    PRECIO INTEGER, 
    SECCION VARCHAR(20)
)''')

registros = [("CAMISETA", 10, "DEPORTES"), 
             ("CAMION", 20, "JUGUETERIA"), 
             ("ZAPATILLAS", 80, "CALZADO")]
conn.executemany('INSERT INTO PRODUCTOS VALUES (NULL, ?, ?, ?)', registros)

conn.commit()
conn.close()

### Cláusula UNIQUE
Buscamos crear un tipo de registro para el cual no se pueda repetir sus variables

In [3]:
# crear conexion
conn = sqlite3.connect('base_datos_unique')
# cear cursor/puntero
cursor = conn.cursor()
# crear tabla
cursor.execute('''
    CREATE TABLE PRODUCTOS (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NOMBRE_ARTICULO VARCHAR(50) UNIQUE, 
    PRECIO INTEGER, 
    SECCION VARCHAR(20)
)''')

registros = [("CAMISETA", 10, "DEPORTES"), 
             ("CAMION", 20, "JUGUETERIA"), 
             ("ZAPATILLAS", 80, "CALZADO")]
conn.executemany('INSERT INTO PRODUCTOS VALUES (NULL, ?, ?, ?)', registros)

conn.commit()
conn.close()

comprobamos si funciona

In [6]:
conn = sqlite3.connect('base_datos_unique')
cursor = conn.cursor()
# recordar que como utilzimos una clave primaria automatica hay que indicarle (NULL, como primera entrada
cursor.execute('''INSERT INTO PRODUCTOS VALUES (NULL, "CAMISETA", 100, "TEXTIL")''')

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: PRODUCTOS.NOMBRE_ARTICULO

como vemos tenemos un error debido a la restricción unique que le hemos aplicado a los registros de tipo "NOMBRE_ARTICULO"